table
  width: 100%

.mat-mdc-form-field
  font-size: 14px
  width: 100%

.mat-body, .mat-typography .mat-body-2, .mat-typography
  min-width: 600px !important

td, th
  width: 25%

#table-data__times,
#table-data__check
  display: flex
  float: left
  width: 11px
  height: 11px
  margin: 0 5px 0 0
  padding: 1px
  font-size: 11px
  align-items: center
  justify-content: center
  background: green
  vertical-align: middle
  color: white
  border-radius: 50%

#table-data__times
  background: red
